<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elasticsearch + Angular Example</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="ExampleApp">
  
  <!-- overall container and controller -->
  <div ng-controller="ExampleController as exctl" class="container">
    
    <!-- navbar search box -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <form ng-submit="exctl.search()" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" ng-model="exctl.queryTerm" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        </div>
    </nav>
    
    <!-- main content container -->
    <div class="row">
            
        <!-- search results -->
        <div class="col-sm-9">

            <!-- error -->
            <div ng-if="exctl.error" class="alert alert-danger" role="alert">{{exctl.error.message}}</div>

            <!-- hits -->
            <div ng-repeat="doc in exctl.results.hits.hits">
                <div>
                    <span><strong>{{doc._source.year}}</strong> &middot; <small>{{doc._source.name}}</small></span>
                    <p>
                        <span ng-repeat="snip in doc.highlight.content">
                            <span ng-bind-html="snip"></span><br />
                        </span>
                    </p>
                </div>
            </div>

        </div> <!-- search results col -->


        <!-- facets -->
        <div class="col-sm-3">
        
            <!-- subject tags -->
            <ul class="list-group">
                <li class="list-group-item" 
                               ng-class="exctl.isActive('subject_tags', entry.term)"
                               ng-click="exctl.filter('subject_tags', entry.term)"
                               ng-repeat="entry in exctl.results.facets.tags.terms"> 
                    {{ entry.term }} 
                    <span class="glyphicon glyphicon-remove" ng-show="exctl.isActive('subject_tags', entry.term)"></span>
                    <span class="badge pull-right">{{ entry.count }}</span>
                </li>
            </ul>

            <!-- ip case type tag -->
            <ul class="list-group">
                <li class="list-group-item" 
                               ng-class="exctl.isActive('tags', entry.term)"
                               ng-click="exctl.filter('tags', entry.term)"
                               ng-repeat="entry in exctl.results.facets.ip_category.terms"> 
                    {{ entry.term }} 
                    <span class="glyphicon glyphicon-remove" ng-show="exctl.isActive('tags', entry.term)"></span>
                    <span class="badge pull-right">{{ entry.count }}</span>
                </li>
            </ul>

            <!-- court name -->
            <ul class="list-group">
                <li class="list-group-item" 
                               ng-class="exctl.isActive('court', entry.term)"
                               ng-click="exctl.filter('court', entry.term)"
                               ng-repeat="entry in exctl.results.facets.courts.terms"> 
                    {{ entry.term }} 
                    <span class="glyphicon glyphicon-remove" ng-show="exctl.isActive('court', entry.term)"></span>
                    <span class="badge pull-right">{{ entry.count }}</span>
                </li>
            </ul>
       
        </div> <!-- facets col -->
    
    </div> <!-- main container row -->

  </div> <!-- controller -->

  <!-- include bower components in proper order -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/elastic.js/dist/elastic.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>

  <!-- app code starts is here -->
  <script>
    // Elasticsearch + AngularJS example from 
    // https://gist.github.com/egaumer/5101149
    // http://www.fullscale.co/blog/2013/03/07/getting_started_with_elasticsearch_and-AngularJS_faceting.html
    // 
    // Translated slightly to new AngularJS and elasticsearch.js and elastic.js APIs
    // 14 Oct 2014 – Eric E Monson – Duke University
    
    // App module
    var ExampleApp = angular.module('ExampleApp', ['elasticsearch', 'ngSanitize']);

    // Service – esFactory() creates a configured client instance. Turn that instance
    // into a service so that it can be required by other parts of the application
    ExampleApp.service('client', function (esFactory) {
      return esFactory({
        host: 'localhost:9200',
        apiVersion: '1.2',
        log: 'trace'
      });
    });

    // Controller – requires the "client" service, and fetches information about the server,
    //   it adds either an error or info about the server to $scope. It also requires the esFactory
    //   to that it can check for a specific type of error which might come back from the client
    ExampleApp.controller('ExampleController', ['client', 'esFactory', function (client, esFactory) {

        var self = this;
        // pre-seeded for development
        self.queryTerm = 'privacy';
        
        var sf = ejs.TermsFacet('tags').field('subject_tags').size(10);
        var cf = ejs.TermsFacet('courts').field('court').size(10);
        var tf = ejs.TermsFacet('ip_category').field('tags').size(10);
        var hl = ejs.Highlight('content').fragmentSize(80).numberOfFragments(100).encoder('html').preTags('<mark>').postTags('</mark>');
        var activeFilters = {};
        var previous_term = '';
        
        self.search = function() {
            // If new term, want to clear out filters
            if (self.queryTerm != previous_term) {
                previous_term = self.queryTerm;
                activeFilters = {};
            }
            client.search({
              index: 'fashion_test',
              type: 'case',
              body: ejs.Request().facet(cf).facet(sf).facet(tf).query(applyFilters(ejs.MatchQuery('content', self.queryTerm))).size(100).highlight(hl).sort('year')
            }).then(function (resp) {
                    console.log(resp);
                    self.results = resp;
                 }, 
                 function (err) {
                    self.error = err;

                    // if the err is a NoConnections error, then the client was not able to
                    // connect to elasticsearch. In that case, create a more detailed error message
                    if (err instanceof esFactory.errors.NoConnections) {
                      self.error = new Error('Unable to connect to elasticsearch. ' +
                        'Make sure that it is running and listening at http://localhost:9200');
                    }
                 });
        };
        
        self.isActive = function (field, term) {
            return activeFilters.hasOwnProperty(field + term) ? 'active' : '';
        };

        self.filter = function(field, term) {
            if (self.isActive(field, term)) {
                delete activeFilters[field + term];
            } else {
                activeFilters[field + term] = ejs.TermFilter(field, term);
            }
            self.search();
        }

        var applyFilters = function(query) {
    
            var filter = null;
            var filters = Object.keys(activeFilters).map(function(k) { return activeFilters[k]; });

            if (filters.length > 1) {
                filter = ejs.AndFilter(filters);
            } else if (filters.length === 1) {
                filter = filters[0];
            }

            return filter ? ejs.FilteredQuery(query, filter) : query;
        };

    }]);
  </script>
</body>
</html>