<!DOCTYPE html>
<html>
<head>
  <title>Elasticsearch + Angular Example</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="ExampleApp">
  
  <!-- attach the ExampleController to our main content -->
  <div ng-controller="ExampleController as exctl" class="container">
    
        <!-- if there is an error, display its message -->
        <div ng-if="exctl.error" class="alert alert-danger" role="alert">{{exctl.error.message}}</div>

        <div class="container-fluid">
            <div class="row-fluid">
                <span class="span3">
                    <input class="input-block-level" ng-model="exctl.queryTerm" type="text">
                </span>&nbsp;
                <button ng-click="exctl.search()" class="btn" type="button">Search</button>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <li ng-repeat="doc in exctl.hits">
                        {{doc._source.year}} <br /> 
                        <div ng-repeat="snip in doc.highlight.content">
                            <p ng-bind-html="snip"></p>
                        </div>
                    </li>
                </div>
            </div>
        </div>


  </div>

  <!-- include bower components in proper order -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/elastic.js/dist/elastic.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>

  <!-- app code starts is here -->
  <script>
    // App module
    //
    // The app module will contain all of the components the app needs (directives,
    // controllers, services, etc.). Since it will be using the components within
    // the elasticsearch module, define it a dependency.
    var ExampleApp = angular.module('ExampleApp', ['elasticsearch', 'ngSanitize']);

    // Service
    //
    // esFactory() creates a configured client instance. Turn that instance
    // into a service so that it can be required by other parts of the application
    ExampleApp.service('client', function (esFactory) {
      return esFactory({
        host: 'localhost:9200',
        apiVersion: '1.2',
        log: 'trace'
      });
    });

    // Controller
    //
    // It requires the "client" service, and fetches information about the server,
    // it adds either an error or info about the server to $scope.
    //
    // It also requires the esFactory to that it can check for a specific type of
    // error which might come back from the client
    ExampleApp.controller('ExampleController', ['client', 'esFactory', function (client, esFactory) {

      var self = this;
      var hl = ejs.Highlight('content');
      
      client.search({
          index: 'fashion_test',
          type: 'case',
          body: ejs.Request().query(ejs.MatchQuery('content', 'public domain')).sort('year').highlight(hl)
      }).then(function (resp) {
                self.hits = resp.hits.hits;
             }, 
             function (err) {
                self.error = err;

                // if the err is a NoConnections error, then the client was not able to
                // connect to elasticsearch. In that case, create a more detailed error
                // message
                if (err instanceof esFactory.errors.NoConnections) {
                  self.error = new Error('Unable to connect to elasticsearch. ' +
                    'Make sure that it is running and listening at http://localhost:9200');
                }
             });


    }]);
  </script>
</body>
</html>